<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Tarjeta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card>
  <ion-card-header>
    <ion-card-title>Desarrollo de Aplicaciones Móviles</ion-card-title>
    <ion-card-subtitle>Es la segunda asignatura de la materia</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Este es el contenido de la tarjeta. 
  </ion-card-content>

   <ion-button (click)="this.tasks">Ver Tareas</ion-button>

</ion-card>
  

  
</ion-content>
