<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">PokeDex</ion-title>
  </ion-toolbar>
</ion-header>

<!-- 👇 Mantén el color="light" para el fondo blanco -->
<ion-content [fullscreen]="true" class="ion-padding" color="light">

  <!-- Spinner de carga -->
  <ion-loading
    [isOpen]="isLoadingMore"
    message="CARGANDO..."
    spinner="crescent"
    [duration]="0">
  </ion-loading>

  <!-- Mensaje de carga inicial -->
  <div *ngIf="isLoading && pokemons.length === 0" class="ion-text-center ion-padding">
    <ion-text color="primary"><p>Cargando pokemons...</p></ion-text>
  </div>

  <!-- Mensaje de error -->
  <ion-text color="danger" *ngIf="errorMessage">
    <p class="ion-padding">{{ errorMessage }}</p>
  </ion-text>

  <!-- LISTA DE POKEMON -->
  <ion-list>
    <ion-item
      *ngFor="let pokemon of pokemons"
      [routerLink]="['/detail-pokemon', pokemon.name]"
      class="pokemon-item"
      button
    >
      <ion-avatar slot="start">
        <img
          [src]="pokemon.sprites.other?.['official-artwork']?.front_default || pokemon.sprites.front_default || ''"
          [alt]="pokemon.name"
        >
      </ion-avatar>

      <ion-label>
        <h2>{{ pokemon.name | titlecase }}</h2>
        <div class="types-container">
          <ion-badge
            *ngFor="let type of pokemon.types"
            [color]="getTypeColor(type.type.name)"
            class="type-badge"
          >
            {{ getTypeSpanish(type.type.name) }}
          </ion-badge>
        </div>
      </ion-label>

      <ion-icon slot="end" name="chevron-forward-outline" class="nav-icon"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- 👇 INFINITE SCROLL -->
  <ion-infinite-scroll
    (ionInfinite)="getMorePokemons($event)"c[threshold]="100px"
  >
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando mas pokemons..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>